---
name: "ci"

# yamllint disable-line rule:truthy
on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - main

permissions:
  attestations: write
  id-token: write
  contents: write

jobs:
  strategy:
    name: strategy
    runs-on: ubuntu-24.04
    outputs:
      targets: ${{ steps.matrix.outputs.targets }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate matrix
        id: matrix
        run: |
          echo "targets=$(make list | grep ^bin/ | jq -ncMR '[inputs | select(length>0)]')" >>"$GITHUB_OUTPUT"

  build:
    name: build.${{ matrix.target }}
    runs-on: ubuntu-24.04-arm
    needs: strategy
    strategy:
      matrix:
        target: ${{fromJson(needs.strategy.outputs.targets)}}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        run: |
          make "${{ matrix.target }}"

      - name: Generage artifact name
        id: artifact
        run: |
          # slugify the target name
          artifact_name=$(echo "${{ matrix.target }}" | sed -e 's/[^[:alnum:]]/-/g' | tr -s '-' | tr A-Z a-z)
          echo "name=${artifact_name}" >>"$GITHUB_OUTPUT"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.artifact.outputs.name }}
          path: |
            ${{ matrix.target }}
            ${{ matrix.target }}.*
